body {
    background-image: radial-gradient(73% 147%, #E1ECC8 59%, #F7FFE5 100%), radial-gradient(91% 146%, rgba(255, 255, 255, 0.50) 47%, rgba(0, 0, 0, 0.50) 100%);
    background-blend-mode: screen;
    height: 100vh;
    margin: 0;
}

.mengkl_center {
    display: block !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

.mengkl_valign {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

.mengkl_flex_container {
    display: flex;
    flex-wrap: wrap;
}

.mengkl_container {
    padding-top: 5vh;
    padding-left: 18vw;
    padding-right: 18vw;
}

.three-d {
    color: #fff;
    background-color: #aaaaaa;
    text-shadow: -2px 2px 2px #555555,
    -2px 2px 2px #717171,
    -2px 2px 2px #717171,
    -2px 2px 2px #717171,
    -2px 2px 2px #717171,
    -2px 2px 2px #717171;
    box-shadow: 0px 5px 0px 0px #515151;
    transition: all .1s;
}

.three-d:hover {
    background-color: rgb(160, 196, 157);
    box-shadow: 0px 5px 0px 0px #82ae7e;
    text-shadow: -2px 2px 2px rgb(160, 196, 157);

}

.three-d:active {
    transform: translate(0, 4px);
    box-shadow: 0px 1px 0px 0px #82ae7e;
}

/*[mengkl_00] [头部导航栏]*/
.mengkl_00_container {
    padding-top: 2vh;
    padding-left: 15vw;
    padding-right: 15vw;
}

.mengkl_00_border {
    transition: 0.3s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-style: solid;
    border-width: 0;
    padding: 1vmin;
    border-radius: 0.9vmax;
    background-color: #ffff;
    box-shadow: rgba(40, 84, 48, 0.32) 0.4vw 0.8vh,
    rgba(40, 84, 48, 0.3) 0.8vw 1.6vh,
    rgba(40, 84, 48, 0.2) 1.2vw 2.4vh,
    rgba(40, 84, 48, 0.1) 1.6vw 3.2vh,
    rgba(40, 84, 48, 0.05) 2vw 4vh;
}

.mengkl_00_border:hover {
    transition: 0.5s;
    transition-timing-function: ease-in-out;
    border-style: solid;
    box-shadow: rgba(40, 84, 48, 0.05) 0 0,
    rgba(40, 84, 48, 0.1) 0 0,
    rgba(40, 84, 48, 0.05) 0 0;
}

.mengkl_00_center {
    display: flex;
    align-items: center;
    height: auto;
}

.mengkl_00_center img {
    height: 8vh;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    border-color: #6C342840;
}

.mengkl_00_img {
    margin-left: 5vw;
    transition: transform 2s;
}

.mengkl_00_img:hover {
    transition: transform .5s;
    transform: rotate(-720deg)
}

.mengkl_00_img:active {
    transition: transform 1.5s;
    transform: rotate(-360deg)
}

.mengkl_00_btn {
    margin: auto; /*按钮间隔*/
    width: auto; /*按钮宽度*/
    padding: 1vw; /*按钮内边距*/
    border-style: solid; /*按钮边框样式*/
    border-width: 0; /*按钮边框宽度*/
    border-radius: 15px; /*按钮边框圆角*/
}

.mengkl_00_btn_text_center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2vh;
    font-size: 1em
}

.mengkl_00_btn_a {
    text-decoration: none;
    color: white;
}

/*[mengkl_01] [文章IMG]*/
.mengkl_01_1 {
    overflow: hidden;
    height: 22vh;
    background-color: white;
    box-shadow: rgba(140, 152, 164, 0.1) 0 12px 15px;
    border-radius: 6px;
}

/*背景模糊*/
.mengkl_01_1_img_bg {
    height: 100%;
    object-fit: cover;
    width: 100%;
    position: relative;
    background-size: cover !important;
    box-sizing: border-box;
    border-radius: 6px;
    z-index: 1;
    border: 3px solid #5b855b;;
    overflow: hidden;
}

.mengkl_01_1_img_bg:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 10px;
    left: -10px;
    top: -10px;
    /* 从父元素继承 background 属性的设置 */
    background: inherit;
    filter: blur(6px);
    z-index: 2;
}

.mengkl_01_1_text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    text-align: center;
    z-index: 3;
}

.mengkl_01_1_text h1,
.mengkl_01_1_text h5 {
    color: #eef2f5;
}

/*[mengkl_02] [Link]*/

.mengkl_02_link_1 {
    border: 2px solid #374151;
    overflow: hidden;
    text-align: center;
    position: relative;
    transition-duration: .5s;
    padding: 1rem 5px 1rem 20px;
}

.mengkl_02_link_1:hover {
    --tw-shadow: 0 20px 25px -5px #0000001a, 0 8px 10px -6px #0000001a;
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow), 0 8px 10px -6px var(--tw-shadow);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-shadow);
    color: #7ea08a;
    border-color: #82a48e;
    transform: translateY(-10%);
    transition-duration: .5s;

    .mengkl_02_link_img {
        opacity: .1;
        transform: translateX(-10%) translateY(5%);
        transition-duration: 1s;
        width: 50%;
    }

    .mengkl_02_link_2_name {
        display: none;
        transition-duration: 1s;
    }

    .mengkl_02_link_2_info {
        color: #7ea08a;
        display: block;
        transition-duration: 3s;
    }
}

.mengkl_02_link_2 {
}

.mengkl_02_link_img {
    right: 0;
    top: 0;
    position: absolute;
    max-width: 45px;
    border-radius: 50%;
    opacity: .5;
    transform: translateX(50%) translateY(5%);

    transition-duration: 2s;
}

.mengkl_02_link_2_info {
    display: none;
    font-size: medium;
    transition-duration: 1s;
}

/*[mengkl_03] [文章正文]*/
.mengkl_01_3 {
    overflow: hidden;
    height: auto;
    background-color: white;
    box-shadow: rgba(140, 152, 164, 0.1) 0 12px 15px;
    border-radius: 6px;
    padding: 35px;
}

.mengkl_01_3_zw {
    margin: 0 auto;
}

.mengkl_01_3_zw a {
    color: black;
    text-decoration: none;
}

.mengkl_01_3_zw a:active {
    transition: 0.5s;
    color: #595959;
    text-decoration-style: wavy;
}

.mengkl_01_3_zw h1,
.mengkl_01_3_zw h2,
.mengkl_01_3_zw h3,
.mengkl_01_3_zw h4,
.mengkl_01_3_zw h5,
.mengkl_01_3_zw p {
    color: rgba(0, 0, 0, .54);
    line-height: 1.7;
    overflow: hidden;
}

.mengkl_01_3_zw_col {
    margin: 1vh 2vw 1vh;
}

.a-tag-color-black {
    text-decoration: none;
    color: black;
}

@media (max-width: 1000px) {
    .mengkl_01_left_row {
        display: none;
    }

    .mengkl_02_right_row {
        grid-column: 1 / span 11;
        margin-top: 6vh;
        font-size: 16px;
    }

    .mengkl_00_container {
        padding: 2vh 5vw 1vh;
        position: fixed;
        width: 90%;
        background-color: #E1ECC8;
        overflow: hidden;
    }

    .mengkl_00_avatar {
        display: none;
    }


    .mengkl_00_btn {
        display: block;
        color: white;
        text-align: center;
        text-decoration: none;
        padding: 1.6vh 4vw;
        margin: auto;
    }

    .mengkl_00_btn_a:hover {
        background-color: #ddd;
        color: black;
    }

    .mengkl_00_btn_text_center {
        text-align: center;
    }

    .mengkl_00_border {
        transition: none;
        padding: 1vmin;
        box-shadow: none;
        background-color: rgba(255, 255, 255, 0);
    }

    .mengkl_00_border:hover {
        transition: initial; /* 使用初始的过渡效果 */
        box-shadow: initial; /* 使用初始的阴影效果 */
    }

    .mengkl_00_center {
        display: flex;
        align-items: center;
        height: auto;
    }

    .mengkl_container {
        padding-top: 14vh;
        padding-left: 25px;
        padding-right: 25px;
    }

    .mengkl_01_3_zw_col {
        margin: 3vw;
    }
}