<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mengkl Blog</title>
    <base href="/">
    <link type="text/css" rel="stylesheet" href="static/css/mengkllinks.css">
</head>
<body>


<!--[00] [头部导航栏] [Start] -->
<div class="mengkl_00_container">
    <div class="mengkl_00_border mengkl_00_center">
        <a href="">
            <img href="" class="mengkl_00_img" style="margin-left: 5vw;" src="https://q1.qlogo.cn/g?b=qq&nk=599487077&s=640" alt=""/>
        </a>
        {% for obj in app_name %}
            <a href="{{ obj.my_apps_en }}/" class="mengkl_00_btn mengkl_00_btn_a three-d">
                <div class="mengkl_00_btn_text_center">
                    {{ obj.my_apps_cn }}
                </div>
            </a>
        {% endfor %}

    </div>
</div>
<!--[00] [头部导航栏] [End] -->

<div class="mengkl_container">

    <!--[01] [文章Img] [Start] -->
    <div class="mengkl_01_1">
        <div class="mengkl_01_1_img_bg"
             style="background: url('https://api.hanfenga7.cn/RandomImg/V1/api.php?type=img') no-repeat;">
            <div class="mengkl_valign mengkl_01_1_text">
                <div class="mengkl_center">
                    <h1>大 佬 们</h1>
                </div>
            </div>
        </div>
    </div>
    <!--[01] [文章Img] [End] -->

    <br/>

    <!--[03] [文章正文] [Start] -->
    <div class="mengkl_01_3">
        <div class="mengkl_01_3_zw">
            <div class="mengkl_grid_container">

                {% for obj in links_data %}
                    <div class="mengkl_01_3_zw_col">
                        <div class="mengkl_02_link_1">
                            <a href="{{ obj.blog_url }}" class="mengkl_02_link_2">
                                <div class="mengkl_02_link_2_name">{{ obj.friend_name }}</div>
                                <div class="mengkl_02_link_2_info">{{ obj.brief_introduction }}</div>
                                <img class="mengkl_02_link_img" src="{{ obj.blog_avatar_url }}" alt="">
                            </a>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <!--[03] [文章正文] [End] -->

    <br/>

</div>

<br/><br/>
</body>
</html>