<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mengkl Blog</title>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="static/css/mengklsearch.css">
</head>
<body>

<!--[00] [头部导航栏] [Start] -->
<div class="mengkl_00_container">
    <div class="mengkl_00_border mengkl_00_center">
        <a href="">
            <img href="" class="mengkl_00_img" src="https://q1.qlogo.cn/g?b=qq&nk=599487077&s=640" alt=""/>
        </a>
        {% for obj in app_name %}
            <a href="{{ obj.my_apps_en }}/" class="mengkl_00_btn mengkl_00_btn_a three-d ">
                <div class="mengkl_00_btn_text_center">
                    {{ obj.my_apps_cn }}
                </div>
            </a>
        {% endfor %}
    </div>
</div>
<!--[00] [头部导航栏] [End] -->

<!--[01] [搜索框] [Start] -->
<div class="mengkl_container">
    <form action="#" method="post" class="mengkl_01_1" id="searchForm">
        <div class="mengkl_grid_container">
            <div class="mengkl_01_1_col_1">
                <label>
                    <input type="text" name="commentator" class="mengkl_01_1_input" id="searchInput"
                           placeholder="搜 索 一 下 叭 ！"/>
                </label>
            </div>
            <div class="mengkl_01_1_col_2">
                <input type="submit" value="搜可一下" class="mengkl_01_1_btn"/>
            </div>
        </div>
    </form>
</div>
<!--[01] [搜索框] [End] -->

<!--[02] [主体] [Start] -->
<div class="mengkl_container_list">
    <div class="mengkl_grid_container_list">

        <!--[03] [Tag] [Start] -->
        <div class="mengkl_03_col">
            <div class="mengkl_03_card">
                <div class="mengkl_03_c_grid">
                    {% for obj in tags_with_counts %}
                        <div class="mengkl_03_c_col">
                            <a href="search/tag/{{ obj.name }}"
                               id="tagList"
                               class="a-tag-color-black">{{ obj.name }}</a><span>({{ obj.passages.count }})</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!--[03] [Tag] [Start] -->

        <!--[04] [搜索内容] [Start] -->

        {% if tag_name_from_passage %}
            <div class="mengkl_04_col">
                <div class="mengkl_03_card" id="Results">
                    <div class="mengkl_valign">
                        <div class="mengkl_center">
                            <h4 style="margin: 0">文章Tag包含: {{ tag_name_from_passage }} 的结果</h4>
                            <ul></ul>
                        </div>
                    </div>
                <ol>
                    {% for obj in data %}
                        <div class="mengkl_valign">
                            <li><a href="/passage/{{ obj.pid }}">{{ obj.title }}</a></li>
                        </div>
                    {% endfor %}
                </ol>
                </div>
            </div>
        {% else %}
            <div class="mengkl_04_col">
                <div class="mengkl_03_card" id="Results">
                    <div class="mengkl_valign">
                        <div class="mengkl_center">
                            <div class="mengkl_center">
                                <h3 style="margin: 0;text-align: center;">不搜了,睡大觉！</h3>
                                <img style="width: 100% " src="static/img/sleeping.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <!--[04] [搜索内容] [Start] -->

    </div>
</div>
<!--[02] [主体] [End] -->
<br/>

<br/><br/>
</body>
<script>
    // 获取DOM元素
    const searchInput = document.getElementById('searchInput');
    const Results = document.getElementById('Results');
    const searchForm = document.getElementById('searchForm');
    // 表单提交处理
    searchForm.addEventListener('submit', e => {

        // 阻止默认提交
        e.preventDefault();

        // 获取搜索词
        const keyword = searchInput.value.trim();
        if (!keyword) {
            alert('请输入关键词!');
            return;
        }

        // 清空搜索框
        searchInput.value = '';
        // 清空上次结果
        Results.innerHTML = '';

        // 发送请求
        fetch('/search/' + keyword + '/')
            .then(res => res.json())
            .then(data => {
                console.log(data)
                // 构造结果HTML
                let html = `
                <div class="mengkl_valign">
                    <div class="mengkl_center">
                        <h4>这是关于 "${keyword}" 的搜索结果:</h4><ol>
                    </div>
                </div>
<ol>`;

                data.forEach(item => {
                    html += `
                <li>
                    <a href="/passage/${item.pid}">
                        ${item.title}
                    </a>
                </li>
                   `;
                });
                html += '</ol>';
                // 插入 HTML
                Results.innerHTML = html;
            });
    });

    // JavaScript

    // 获取DOM
    const tagElements = document.querySelectorAll('#tagList');

    // 绑定点击事件
    tagElements.forEach(element => {
        element.addEventListener('click', async e => {

            // 防止跳转
            e.preventDefault();
            // 获取tag
            const tag = e.target.textContent;
            // 清空上次结果
            Results.innerHTML = '';
            // 请求并渲染结果
            const resp = await fetch('/search/tag/' + tag + '/');
            const data = await resp.json();
            let html = `<div class="mengkl_valign">
                        <div class="mengkl_center">
                            <h4 style="margin: 0">文章Tag包含: ${tag} 的结果:</h4>
                        </div>
                    </div>
<ol>`;
            data.forEach(item => {
                html += `
      <li>
        <a href="passage/${item.pid}">
          ${item.title}
        </a>
      </li>
    `;
            });
            html += '</ol>';
            // 插入 HTML
            Results.innerHTML = html;

        });
    });

</script>

</html>